<%- include('./partials/header.ejs') %>
<div class="paper mt-5">
    <div class="paper-content">
        <form action="/add" method="POST">
            <input type="text" class="note-title" name="title"
                placeholder="Title..." required><br>
            <textarea name="content" rows="10" cols="100"
                placeholder="Type Your Content Here..."></textarea>
            <button type="submit"
                class="btn btn-info px-5 submit_note">Save</button>
        </form>
    </div>
</div>
<%- include('./partials/footer.ejs') %>